html{overflow:hidden;}
body{font: 12px/1.5 Tahoma,'微软雅黑';*font-family:'微软雅黑';}
.outsideWindow{ position:fixed !important; top:-9999px !important; left:-9999px !important;}
/***** 背景图 *****/
#container{margin:0px; background:url(../img/deskbg/default.jpg) center center no-repeat; min-height:500px; min-width:1000px;}
/***** 16X16带hover状态公用图标 *****/
.icon{ display:inline-block; width:16px; height:16px; background:url(../img/icon_normal.png);}
.icon:hover{background:url(../img/icon_hover.png);}
.icon.iconClosetype1{ background-position:0 0;}
.icon.iconClosetype2{ background-position:-16px 0;}
.icon.iconPlus{ background-position:-32px 0;}
.icon.back{ background-position:-64px 0;}
/***** 16X16无状态图标 *****/
.ico{ display:inline-block; width:16px; height:16px; background:url(../img/ico.png);}
.ico.correct{ background-position:0 0;}
.ico.global{ background-position:-16px 0;}
.ico.file{ background-position:-32px 0;}
.ico.haveCheck{ background-position:-48px 0;}
.ico.menuRight{ background-position:-64px 0;}
.ico.menuRight2{ background-position:-80px 0;}
/***** 窗口头部操作图标 *****/
.title_icon{ display:inline-block; width:18px; height:18px; background:url(../img/title_normal.png);}
.title_icon:hover{ background:url(../img/title_hover.png);}
.title_icon.active{ background:url(../img/title_active.png);}
.title_icon.home{ background-position:0 0;}
.title_icon.refresh{ background-position:-18px 0;}
.title_icon.min{ background-position:-36px 0;}
.title_icon.max{ background-position:-54px 0;}
.title_icon.closeWindow{ background-position:-72px 0;}

/*** 主体部分 ***/
/** 九宫格布局 **/
.menuBar .bodyPanel{ margin-top:-20px; width:100%;}
.menuBar .bodyPanel .hdPanel{height:11px; padding:0px 10px 0px 13px;}
.menuBar .bodyPanel .hdPanel .leftCorner{ float:left; width:13px; height:100%; margin-left:-13px; background:url(../img/menu/body/lefttop.png);}
.menuBar .bodyPanel .hdPanel .middle{ float:left; width:100%; height:100%; background:url(../img/menu/body/topmid.png);}
.menuBar .bodyPanel .hdPanel .rightCorner{ float:left; width:10px; height:100%; margin-right:-10px; background:url(../img/menu/body/righttop.png);}
.menuBar .bodyPanel .bdPanel{height:315px; padding:0px 7px 0px 7px;}
.menuBar .bodyPanel .bdPanel .leftCorner{ float:left; width:7px; height:100%; margin-left:-7px; background:url(../img/menu/body/midleft.png);}
.menuBar .bodyPanel .bdPanel .middle{ float:left; width:100%; height:100%; background:url(../img/menu/body/middle.png);}
.menuBar .bodyPanel .bdPanel .rightCorner{ float:left; width:7px; height:100%; margin-right:-7px; background:url(../img/menu/body/midright.png) top right;}
.menuBar .bodyPanel .ftPanel{ height:10px; padding:0px 10px 0px 13px;}
.menuBar .bodyPanel .ftPanel .leftCorner{ float:left; width:13px; height:100%; margin-left:-13px; background:url(../img/menu/body/bottomleft.png);}
.menuBar .bodyPanel .ftPanel .middle{ float:left; width:100%; height:100%; background:url(../img/menu/body/bottommid.png);}
.menuBar .bodyPanel .ftPanel .rightCorner{ float:left; width:10px; height:100%; margin-right:-10px; background:url(../img/menu/body/bottomright.png);}
/** 主菜单项区域 **/
.functionArea{ padding:20px 0 0 0;}
.menuItem{ position:relative;margin-top:5px;}
.menuItem .leftPart{ float:left; width:7px; height:41px; margin-left:2px; background:url(../img/menu/left_back.png);}
.menuItem .rightPart{ float:left; width:7px; height:41px; background:url(../img/menu/right_back.png);}
.menuItem .midPart{ float:left; width:133px; height:41px; background:url(../img/menu/mid_back.png);}
.menuItem:hover{ text-decoration:none;}
.menuItem:hover .leftPart{background:url(../img/menu/left_back_hover.png);}
.menuItem:hover .midPart{background:url(../img/menu/mid_back_hover.png);}
.menuItem:hover .rightPart{background:url(../img/menu/right_back_hover.png);}
.menuItem.ue-state-active .leftPart{ background:url(../img/menu/left_back_active.png) !important;}
.menuItem.ue-state-active .rightPart{ background:url(../img/menu/right_back_active.png) !important;}
.menuItem.ue-state-active .midPart{ background:url(../img/menu/mid_back_active.png) !important;}
/*菜单小图标*/
.menuIcon{ float:left; width:36px; height:36px; margin:2px 0 0 2px; background:url(../img/menu/menu_item.png);}
.menuIcon.pc{ background-position:0 0;}
.menuIcon.search{ background-position:-36px 0;}
.menuIcon.message{ background-position:-72px 0;}
.menuIcon.history{ background-position:-108px 0;}
.menuIcon.quit{ background-position:-144px 0;}
.menuIcon.fence{ background-position:-180px 0;}
/*菜单文字*/
.menuItem .textHide{ float:left; margin:8px 0 0 5px; color:#3c3c3c; font-size:14px; font-weight:bold;}
.menuItem.ue-state-active .textHide{ color:#FFF;}
/*消息托底*/
.menuItem .messageNum{ position:absolute; top:-3px; right:-3px; width:24px; height:15px; line-height:15px; background:url(../img/menu/messagenum.png); color:#FFF; text-align:center;}
/*简版的分割线*/
.divide{ display:none; margin-top:3px; padding:0 14px 0 13px;}
.divide .leftPart{ float:left; margin-left:-13px; background:url(../img/menu/divide_left.png); width:13px; height:2px;}
.divide .midPart{ float:left; width:100% !important; height:2px;background:url(../img/menu/divide_mid.png);}
.divide .rightPart{ float:left; width:14px; margin-right:-14px; height:2px; background:url(../img/menu/divide_right.png);}
/*简版版样式微调*/
.miniMenu .divide{ display:block;}
.miniMenu .midPart{ width:48px;}
.miniMenu .menuIcon{ margin-left:5px;}
.miniMenu .messageNum{ right:2px;}
.miniMenu .menuItem .leftPart{background:none;}
.miniMenu .menuItem .rightPart{background:none;}
.miniMenu .menuItem .midPart{background:none;}
.miniMenu .functionArea .menuItem:hover .leftPart{background:url(../img/menu/left_back.png);}
.miniMenu .functionArea .menuItem:hover .midPart{background:url(../img/menu/mid_back.png);}
.miniMenu .functionArea .menuItem:hover .rightPart{background:url(../img/menu/right_back.png);}


/** 小工具区域 **/
.toolArea{ position:relative; padding:10px 6px 0px 7px; height:141px;}
.toolArea .leftPart{ float:left; width:7px; height:100%; margin-left:-7px; background:url(../img/menu/body/innerleft.png);}
.toolArea .midPart{ float:left; width:100%; height:100%; background:url(../img/menu/body/innermid.png);}
.toolArea .rightPart{float:left; width:6px; height:100%; margin-right:-6px; background:url(../img/menu/body/innerright.png);}
/*小工具头部区域*/
.toolArea .contentHd{ float:left; width:100%; height:34px;}
.toolArea .contentHd .textHide{ float:left; line-height:34px; font-size:14px; font-weight:bold; color:#000;}
.toolArea .contentHd .addIcon{ float:right; width:32px; height:32px; margin-top:1px; background:url(../img/menu/icon_add.png);}
/*小工具内容区域*/
.toolArea .contentBd{ position:relative;float:left; width:138px; height:100px; overflow:hidden; padding:5px 5px 0 5px; margin-left:-6px;}
.toolArea .contentBd .toolWrap{position:absolute; float:left; width:150px;}
.toolArea .contentBd .toolMiniWrap{ display:none; position:absolute; float:left; width:63px;}
.toolArea .contentBd .item{ float:left; width:46px; height:52px;}
.toolArea .contentBd .item:hover{ text-decoration:none;}
.toolArea .contentBd .item:hover .textHide{ color:#0074B8;}
.toolIcon{ display:block;width:24px; height:24px; margin:0 auto; background:url(../img/menu/tool_normal.png);}
.ue-state-hover .toolIcon{ background:url(../img/menu/tool_hover.png);}
.toolIcon.plus{ background-position:0 0;}
.toolIcon.skin{ background-position:-24px 0; margin:-2px auto 2px;}
.toolIcon.chat{ background-position:-48px 0;}
.toolIcon.history{ background-position:-72px 0;}
.toolIcon.focus{ background-position:-96px 0;}
.toolIcon.cloud{ background-position:-120px 0;}
.toolIcon.fence{ background-position:-144px 0;}
.toolIcon.set{ background-position:-168px 0;}
.toolArea .contentBd .textHide{ float:left; width:100%; color:#000; text-align:center;}
/*小工具的左右翻页*/
.toolArea .page{ position:absolute; top:82px; float:left; width:9px; height:26px; background:url(../img/menu/page_normal.png);}
.toolArea .page:hover{ background:url(../img/menu/page_hover.png);}
.toolArea .page.disable{ background:url(../img/menu/page_disable.png);}
.toolArea .page.pageLeft{ background-position:0 0; left:-4px;}
.toolArea .page.pageRight{ background-position:-9px 0; right:-4px;}
/*简版版样式微调*/
.miniMenu .toolArea .contentBd{ width:55px; overflow:hidden; }
.miniMenu .toolArea .contentBd .item{ width:54px; height:35px;}
.miniMenu .toolArea .toolWrap{ display:none;}
.miniMenu .toolArea .toolMiniWrap{ display:block;}
.miniMenu .toolArea .addIcon{ margin-right:12px;}
/** 切屏按钮区域 **/
.switchPanel{ width:100%; height:40px;}
.switchPanel .midPanel{ float:left; width:65px; height:100%; background:url(../img/menu/switch/mid_black.png);}
.miniMenu .switchPanel .midPanel{ width:23px;}
.switchPanel .leftPanelItem,.switchPanel .rightPanelItem{ float:left; height:100%; cursor:pointer;}
.switchPanel .leftPanelItem .leftPanel{ float:left; width:9px; height:100%; background:url(../img/menu/switch/left_black.png);}
.switchPanel .leftPanelItem .rightPanel{float:left; width:9px; height:100%; background:url(../img/menu/switch/mid_black.png);}
.switchPanel .rightPanelItem .rightPanel{ float:left; width:7px; height:100%; background:url(../img/menu/switch/right_black.png);}
.switchPanel .rightPanelItem .leftPanel{float:left; width:9px; height:100%; background:url(../img/menu/switch/mid_black.png);}
.switchPanel .leftPanelItem:hover .leftPanel{ background:url(../img/menu/switch/left_black_hover.png);}
.switchPanel .leftPanelItem:hover .rightPanel{ background:url(../img/menu/switch/mid_black_hover.png);}
.switchPanel .rightPanelItem:hover .rightPanel{ background:url(../img/menu/switch/right_black_hover.png);}
.switchPanel .rightPanelItem:hover .leftPanel{ background:url(../img/menu/switch/mid_black_hover.png);}
.switchPanel .panelItem:hover .midPanel{ background:url(../img/menu/switch/mid_black_hover.png);}
/*激活状态*/
.switchPanel .ue-state-active{ cursor:default;}
.switchPanel .leftPanelItem.ue-state-active .rightPanel{background:url(../img/menu/switch/mid_blue.png) !important;}
.switchPanel .rightPanelItem.ue-state-active .leftPanel{background:url(../img/menu/switch/mid_blue.png) !important;}
.switchPanel .ue-state-active .midPanel{ background:url(../img/menu/switch/mid_blue.png) !important;}
.switchPanel .ue-state-active .leftPanel{ background:url(../img/menu/switch/left_blue.png) !important;}
.switchPanel .ue-state-active .rightPanel{ background:url(../img/menu/switch/right_blue.png) !important;}
/**眼睛**/
.historyEye{ display:block; width:49px; height:71px; margin:5px 0 0 102px; background:url(../img/history/eye_normal.png);}
.historyEye.closeEye{ background:url(../img/history/eye_normal02.png);}
.historyEye:hover{ background:url(../img/history/eye_hover.png);}
.miniMenu .historyEye{ margin-left:15px;}
/*功能图标*/
.iconScreen{ display:block; width:23px; height:20px; margin:10px auto 0; background:url(../img/menu/switch/screen_normal.png);}
.ue-state-active .iconScreen{ background:url(../img/menu/switch/screen_active.png);}
.iconScreen.screenHome{ background-position:0 0;}
.iconScreen.screenMenu{ background-position:-23px 0;}
/***** 栅栏区域 *****/
.fenceGroup{ position:absolute; top:80px; right:10px;z-index:10;}
.fenceGroup .fence{ position:absolute; margin-bottom:20px; width:231px;}
.fence .contentHd{ float:left; width:100%; height:31px; background:url(../img/menu/fence/content_hd.png)}
.fence .contentHd input[type=text]{float:left; border:none; height:18px; width:150px; margin:6px 0 0 4px; background:none; color:#fFF; border:none;}
.fence .contentHd .focus{ border:1px solid #8F7125 !important;}
.fence .contentHd .opGroup{ float:right; margin:8px 10px 0 0;}
.fence .contentHd .opGroup a{ margin-left:-4px;*margin-left:-1px;}
.fence .contentBd{ float:left; width:100%; min-height:100px; background:url(../img/menu/fence/content_bd.png); overflow:hidden;}
.fence .contentBd .item{ float:left; width:82px;}
.fence .contentBd .item img{ display:block; width:64px; margin:0 auto;}
.fence .contentBd .item .text{ float:left; width:100%; margin-top:-10px; color:#FFF; text-align:center;}
.fence .contentBd i{ display:block; margin:40px 0; text-align:center; color:#668083;}
.fence .contentFt{ float:left; width:100%; height:7px; background:url(../img/menu/fence/content_ft.png)}
.fence .fence-icon{ position:relative;float:left;width:72px;height:75px;padding:5px 1px 5px 3px;z-index:10;}
.fence-icon .iconClosetype1{display:none;position:absolute;top:5px;right:2px;cursor:pointer;z-index:2;}
.fence-icon .back{display:none;position:absolute;top:5px;left:2px;cursor:pointer;z-index:2;}
.fence-icon-hd,.fence-icon-ft{height:5px;}
.fence-icon-bd{max-height:85px;text-align:center;overflow:hidden;}
.fence-icon-bd .text{ margin-top:-2px;*margin-top:0px;color:#fff;cursor:default;}
.fence .fence-icon:hover{ text-decoration:none;}
.fence .fence-icon:hover .fence-icon-hd{background:url(../img/menu/fence/fence_icon_top.png) no-repeat left top;}
.fence .fence-icon:hover .fence-icon-bd{background:url(../img/menu/fence/fence_icon_center.png) repeat-y left top;}
.fence .fence-icon:hover .fence-icon-ft{background:url(../img/menu/fence/fence_icon_bottom.png) no-repeat left top;}
.fence-icon:hover .icon,.fence-icon.ue-state-active .icon{ display:inline-block;}
.fence .fence-icon.ue-state-active .fence-icon-hd{background:url(../img/menu/fence/fence_icon_top_current.png) no-repeat left top;}
.fence .fence-icon.ue-state-active .fence-icon-bd{background:url(../img/menu/fence/fence_icon_center_current.png) repeat-y left top;}
.fence .fence-icon.ue-state-active .fence-icon-ft{background:url(../img/menu/fence/fence_icon_bottom_current.png) no-repeat left top;}

.pluginGroup{ position:absolute; top:80px; right:10px;z-index:10;}
.pluginGroup .plugin{ position:relative; margin-bottom:20px; width:231px;}
.plugin .contentHd{ float:left; width:100%; height:31px; background:url(../img/menu/fence/content_hd.png)}
.plugin .contentHd input[type=text]{float:left; border:none; height:18px; width:150px; margin:6px 0 0 4px; background:none; color:#fFF; border:none;}
.plugin .contentHd .focus{ border:1px solid #8F7125 !important;}
.plugin .contentHd .opGroup{ float:right; margin:8px 10px 0 0;}
.plugin .contentHd .opGroup a{ margin-left:-4px;*margin-left:-1px;}
.plugin .contentBd{ float:left; width:100%; min-height:100px; background:url(../img/menu/fence/content_bd.png); overflow:hidden;}
.plugin .contentBd .item{ float:left; width:82px;}
.plugin .contentBd .item img{ display:block; width:64px; margin:0 auto;}
.plugin .contentBd .item .text{ float:left; width:100%; margin-top:-10px; color:#FFF; text-align:center;}
.plugin .contentBd i{ display:block; margin:40px 0; text-align:center; color:#668083;}
.plugin .contentFt{ float:left; width:100%; height:7px; background:url(../img/menu/fence/content_ft.png)}


/****** 桌面图标样式 ******/
/*桌面快捷方式*/
.shortcutTray{position:absolute;top:0px;left:200px;right:10px;z-index:9;}
.shortcutTray.miniShortcut{ left:0px;}
.shortcutTray .addItem{ position:absolute;}
.shortcutTray .addItem:hover{ cursor:pointer;}
.shortcutTray .addItem .addIcon{ width:64px; height:64px; background:url(../img/bd/ico_add.png);}
.shortcutTray .addItem .addIcon:hover{ background:url(../img/bd/ico_add_hover.png)}
.shortcutTray .addItem .text{ margin-top:2px; text-align:center; color:#FFF;}
/*快捷小图标*/
.desk-icon{position:absolute;width:95px;height:90px;padding:10px;z-index:10;}
.desk-icon.drag{ z-index:11;}
.desk-icon .icon{display:none;position:absolute;right:10px;cursor:pointer;z-index:2;}
.desk-icon-hd,.desk-icon-ft{height:5px;}
.desk-icon-bd{max-height:85px;text-align:center;overflow:hidden;}
.desk-icon-bd .text{color:#fff;cursor:default;}

.desk-icon:hover .desk-icon-hd{background:url(../img/bd/desk_icon_top.png) no-repeat left top;}
.desk-icon:hover .desk-icon-bd{background:url(../img/bd/desk_icon_center.png) repeat-y left top;}
.desk-icon:hover .desk-icon-ft{background:url(../img/bd/desk_icon_bottom.png) no-repeat left top;}
.desk-icon:hover .icon,.desk-icon.ue-state-active .icon{ display:inline-block;}
.desk-icon.ue-state-active{z-index:11;}
.desk-icon.ue-state-active .desk-icon-hd{background:url(../img/bd/desk_icon_top_current.png) no-repeat left top;}
.desk-icon.ue-state-active .desk-icon-bd{max-height:1150px;background:url(../img/bd/desk_icon_center_current.png) repeat-y left top;}
.desk-icon.ue-state-active .desk-icon-ft{background:url(../img/bd/desk_icon_bottom_current.png) no-repeat left top;}
/*图标文字提示*/
.titleTip{ display:none; position:absolute; top:0px; left:0px; z-index:16;}
.titleTip .tipLeft{ float:left; background:url(../img/bd/title/left.png); width:7px; height:30px;}
.titleTip .tipCenter{ float:left; background:url(../img/bd/title/center.png);height:30px;}
.titleTip .tipRight{ float:left; background:url(../img/bd/title/right.png);width:7px;height:30px;}

/********** frames的内部区域 **********/
.frames{ position:absolute; top:10px; left:200px; right:5px; height:600px; z-index:13;}
.frames.miniFrame{ left:115px;}
/****** 小工具选择 ******/
.toolChoose{ display:none; position:absolute; top:300px; left:190px; width:323px; z-index:14;}
.toolChoose.miniToolChoose{ left:105px;}
.toolChoose .contentHd{ float:left; width:100%; height:33px; background:url(../img/tool/toolchoose_top.png);}
.toolChoose .contentHd .title{ float:left; margin:7px 0 0 15px; color:#000; font-weight:bold;}
.toolChoose .contentHd .closeWindow{ float:right; margin:6px 10px 0 0;}
.toolChoose .contentBd{ float:left; width:100%; padding:5px 0 12px; background:url(../img/tool/toolchoose_mid.png);}
.toolChoose .contentBd .itemPanel{ position:relative; float:left; width:59px; height:59px; margin:10px 2px 0 15px; background:url(../img/tool/toolchoose_panel.png);}
.toolChoose .contentBd .itemPanel:hover{ cursor:pointer;}
.toolChoose .contentBd .itemPanel .toolIcon{ margin-top:10px;}
.toolChoose .contentBd .itemPanel .text{ margin-top:2px; text-align:center;}
.toolChoose .contentBd .itemPanel.ue-state-hover .text{ color:#0074B8;}
.toolChoose .contentBd .ico{ position:absolute; top:-5px; right:-6px;}
.toolChoose .contentFt{ float:left; width:100%; height:23px; background:url(../img/tool/toolchoose_bottom.png);}
/****** 历史弹出层选择 ******/
.historyCut{ display:none; position:absolute;top:30px;left:200px; width:772px; height:558px; background:url(../img/history/history_list_bg.png); z-index:14;}
.historyCut.miniHistoryCut{ left:115px;}
/*历史弹出层的遮罩*/
.historyLayout{ display:none; position:fixed; top:0px; left:0px; right:0px; bottom:0px; background:#000; opacity:0.7;filter:alpha(opacity:70); z-index:14;}
.historyArrow{ position:absolute; left:-34px; bottom:31px; width:36px; height:29px; background:url(../img/history/history_list_arrow.png);}
.historyCut .contentHd .title{ font-weight:bold; text-align:center; height:33px; line-height:33px;}
.historyCut .contentHd .closeWindow{ position:absolute; top:7px; right:10px;}
.historyCut .contentBd{ padding:16px 70px 0 70px;}
.historyCut .contentBd dl{ padding-top:15px;}
.historyCut .contentBd dl dt{ float:left; width:100%; margin-bottom:10px; background:url(../img/history/line.gif) center left repeat-x;}
.historyCut .contentBd dl dt .title{ background:#FFF; color:#000000; font-weight:bold;}
.historyCut .contentBd dl dd{ float:left; width:100%;}
/*最近打开的页面*/
.historyCut .shortCutWrap{ position:relative; height:420px; overflow-y:auto;}
.historyCut .shortcut{}
.historyCut .shortcut li{ float:left; width:185px; height:120px; margin:0 10px 35px 0px;padding:4px; border:1px solid #D5D5D5; border-radius:5px;}
.historyCut .shortcut li:hover{ cursor:pointer;border:1px solid #2C97D5;}
.historyCut .shortcut .imgWrap{ float:left; width:100%; height:100%;}
.historyCut .shortcut .imgWrap img{ width:100%; height:100%;}
.historyCut .shortcut .title{ position:relative; float:left; width:100%; margin-top:10px; }
.historyCut .shortcut .ico{ float:left; position:absolute; top:0px;left:0px;}
.historyCut .shortcut .text{ float:left;width:100%; text-indent:20px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
/*最近关闭的列表*/
.historyCut .closeList li{ float:left; margin:5px 0 0 10px;}
.historyCut .closeList li a{float:left;}
.historyCut .closeList li a:hover{ text-decoration:none;}
.historyCut .closeList li a .ico{ float:left;}
.historyCut .closeList li a .text{ float:left;width:152px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  }
/****** 内页 ******/
/*** 九宫格布局 ***/
.frames .contentHd{height:33px; padding:0px 5px 0px 5px;}
.frames .contentHd .leftCorner{ float:left; width:5px; height:100%; margin-left:-5px; background:url(../img/frame/top_left.png);}
.frames .contentHd .midPart{ float:left; width:100%; height:100%; background:url(../img/frame/top_mid.png);}
.frames .contentHd .rightCorner{ float:left; width:5px; height:100%; margin-right:-5px; background:url(../img/frame/top_right.png);}
.frames .contentBd{height:315px; padding:0px 5px 0px 5px;}
.frames .contentBd .leftCorner{ float:left; width:5px; height:100%; margin-left:-5px; background:url(../img/frame/mid_left.png);}
.frames .contentBd .midPart{ float:left; width:100%; height:100%; background:url(../img/frame/mid_mid.png);}
.frames .contentBd .rightCorner{ float:left; width:5px; height:100%; margin-right:-5px; background:url(../img/frame/mid_right.png) top right;}
.frames .contentFt{ height:5px; padding:0px 5px 0px 5px;}
.frames .contentFt .leftCorner{ float:left; width:5px; height:100%; margin-left:-5px; background:url(../img/frame/bottom_left.png);}
.frames .contentFt .midPart{ float:left; width:100%; height:100%; background:url(../img/frame/bottom_mid.png);}
.frames .contentFt .rightCorner{ float:left; width:5px; height:100%; margin-right:-5px; background:url(../img/frame/bottom_right.png);}
/*** 头部操作 ***/
.frames .title_icon{ position:absolute; top:5px; }
.frames .home{left:10px;}
.frames .refresh{left:33px;}
.frames .min{ right:33px;}
.frames .closeWindow{ right:10px;}
.frames .contentHd .title{ text-align:center; line-height:33px; font-weight:bold;}

/****** 右键菜单 ******/
.rightMenu{ position:absolute; top:100px; left:200px; width:165px; z-index:100;}
.rightMenu ul{margin:0 0 0 0;}
.rightMenu .menuTop{ width:100%; height:7px; background:url(../img/right_menu/top.png);}
.rightMenu .menuMid{ width:100%; background:url(../img/right_menu/center.png);}
.rightMenu .menuMid li{ float:left; margin-left:4px; padding:4px 0 4px 26px; width:125px; color:#000000;}
.rightMenu .menuMid li.border{ padding:0px; height:2px; margin-left:30px; background:url(../img/right_menu/linex.png) repeat-x bottom left !important;}
/*无效的菜单*/
.rightMenu .menuMid li.disable{ color:#888888;}
.rightMenu .menuMid li .rightPart{ float:left; width:129px;}
.rightMenu .menuMid li .ico{ float:right;}
.rightMenu .menuMid li:hover{ background:#1780BC; color:#FFF;}
.rightMenu .menuMid li:hover .menuRight2{ display:inline-block;}
.rightMenu .menuMid li:hover .menuRight{display:none;}
.rightMenu .menuMid li .menuRight2{ display:none;}
.rightMenu .menuMid li .text{ float:left; padding-left:12px; width:95px;}
.rightMenu .menuBottom{ width:100%; height:13px; background:url(../img/right_menu/center.png);}

/**** 右键菜单的功能图标 ****/
.rightMenuIcon{ float:left; width:16px; height:16px; margin:2px 0 0 -22px; background:url(../img/right_menu/icon.png);}
.rightMenuIcon.theme{ background-position:0 0;}
.rightMenuIcon.systemSet{ background-position:-16px 0;}
.rightMenuIcon.iconSet{ background-position:-32px 0;}

